<style>
  .box {
    float: left;
    width: 300px;
    height: 25 0px;
    margin: 20px;
    background-color: #edeeef;
    border: 2px solid #abc;
    border-radius: 3px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
    line-height: 72px;
    font-size: 72px;
    vertical-align: middle;
    text-align: center;
  }
  .form {
    font-size: 12px;
  }
  .form > div {
    display: inline-block;
    text-align: left;
    min-width: 70px;
  }
  .form > input {
    min-width: 170px;
  }
</style>
<body ng-App="hslApp">
  <div ng-controller="hslCtrl">
    <div class="box" ng-repeat="hsl in hsls">
      <h1>{{ hsl.text }}</h1>
      <div class="form">
        <div>saturation</div>
        <input type="range" ng-model="hsl.s" min="0" max="100">
      </div>
      <div class="form">
        <div>lightness</div>
        <input type="range" ng-model="hsl.l" min="0" max="100">
      </div>
    </div>

    <div ng-repeat="todo in todos">
      <input type="checkbox" ng-model="todo.done">
    </div>
  </div>
</body>

<script src="out.js"></script>
